body > footer > a {
    font-family: 'Courier New', Courier, monospace;
}

body> header, body > footer{
    text-align: center;
    background-color: rgb(54, 54, 54);
}

body > footer > a > img{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 40%;
    padding: 5px;
}

img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

body > div > div > div > a > img{
    float: right;
}

main > section{
    background-color: #fff;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    margin: 0 5% 20px;
    min-height: 400px;
}

body > div{
    background-color: #b8b8b8;
    border-top: 10px solid #000000;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    margin: 20px 5% 0 !important;
    width: auto !important;
    min-height: 20px;
} 
